@if(mode() === "create") {
<h1>
  {{ 'app.dialog.create' | translate : { value: ('model.animalHealth.single' | translate) } }}
</h1>
} @else {
<h1>{{ 'app.dialog.edit' | translate : { value: ('model.animalHealth.single' | translate) } }}</h1>
}

<div [formGroup]="form" class="form-grid">
  <!-- Animal Id -->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>{{ 'model.animalHealth.animalId' | translate }}</mat-label>
    <mat-select formControlName="animalId" #animalId>
      <mat-option>--</mat-option>
      @for (animal of animals(); track animal.id) {
      <mat-option [value]="animal.id">{{ animal.breed }}</mat-option>
      }
    </mat-select>
    @if (form.get('animalId')?.hasError('required')) {
    <mat-error>
      {{
        'app.dialog.required' | translate : { value: ('model.animalHealth.animalId' | translate) }
      }}
    </mat-error>
    }
  </mat-form-field>

  <!-- Date -->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>{{ 'model.animalHealth.date' | translate }}</mat-label>
    <input matInput [matDatepicker]="datePicker" formControlName="date" />
    <mat-hint align="end">MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="datePicker"></mat-datepicker-toggle>
    <mat-datepicker #datePicker></mat-datepicker>
    @if (form.get('date')?.hasError('required')) {
    <mat-error>
      {{ 'app.dialog.required' | translate : { value: ('model.animalHealth.date' | translate) } }}
    </mat-error>
    }
  </mat-form-field>

  <!-- Type -->
  <div>
    <mat-label>{{ 'model.animalHealth.type.label' | translate }}</mat-label>
    <br />
    <mat-radio-group formControlName="type">
      <mat-radio-button value="checkup">{{
        'model.animalHealth.type.checkup' | translate
      }}</mat-radio-button>
      <mat-radio-button value="vaccination">{{
        'model.animalHealth.type.vaccination' | translate
      }}</mat-radio-button>
      <mat-radio-button value="injury">{{
        'model.animalHealth.type.injury' | translate
      }}</mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- Notes -->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>{{ 'model.animalHealth.notes' | translate }}</mat-label>
    <input matInput formControlName="notes" #notes />
    <mat-hint align="end">{{ notes.value.length }} / 60</mat-hint>
    @if (form.get('notes')?.hasError('required')) {
    <mat-error>
      {{ 'app.dialog.required' | translate : { value: ('model.animalHealth.notes' | translate) } }}
    </mat-error>
    }
  </mat-form-field>

  <!-- Vet -->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>{{ 'model.animalHealth.vet' | translate }}</mat-label>
    <input matInput formControlName="vet" #vet />
    <mat-hint align="end">{{ vet.value.length }} / 60</mat-hint>
    @if (form.get('vet')?.hasError('required')) {
    <mat-error>
      {{ 'app.dialog.required' | translate : { value: ('model.animalHealth.vet' | translate) } }}
    </mat-error>
    }
  </mat-form-field>

  <!-- Meds -->
  <div>
    <h2 style="color: red">FIXME: {{ 'model.animalHealth.meds' | translate }} missing</h2>
  </div>
  <!--
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Meds</mat-label>
    <input matInput formControlName="meds" #meds />
    <mat-hint align="end">{{ meds.value.length }} / 60</mat-hint>
    @if (form.get('meds')?.hasError('required')) {
    <mat-error> Meds is required! </mat-error>
    }
  </mat-form-field>
  -->
</div>
