@if(mode === "create") {
<h1 class="dialog-title">
  <mat-icon>{{ modelKey + '.icon' | translate }}</mat-icon>
  {{ 'app.dialog.create' | translate : { value: (modelKey + '.single' | translate) } }}
</h1>
} @else {
<h1 class="dialog-title">
  <mat-icon>{{ modelKey + '.icon' | translate }}</mat-icon>
  {{ 'app.dialog.edit' | translate : { value: (modelKey + '.single' | translate) } }}
</h1>
}
<!--
<div>
  <pre>
    pristine: {{ form.pristine }}
    invalid: {{ form.invalid }}
    valid: {{ form.valid }}
    dirty: {{ form.dirty }}
  </pre>
</div>
-->
