@if(mode() === "create") {
<h1>Neues Antrag erstellen</h1>
} @else {
<h1>Antrag bearbeiten</h1>
}

<div [formGroup]="form" class="form-grid">
  <!-- Adopter Id -->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Adopter Id</mat-label>
    <mat-select formControlName="adopterId" #adopterId>
      <mat-option>--</mat-option>
      @for (adopter of adopters(); track adopter.id) {
      <mat-option [value]="adopter.id">{{ adopter.name }}</mat-option>
      }
    </mat-select>
    @if (form.get('adopterId')?.hasError('required')) {
    <mat-error> Adopter Id is required! </mat-error>
    }
  </mat-form-field>

  <!-- Animal Id -->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Animal Id</mat-label>
    <mat-select formControlName="animalId" #animalId>
      <mat-option>--</mat-option>
      @for (adopter of adopters(); track adopter.id) {
      <mat-option [value]="adopter.id">{{ adopter.name }}</mat-option>
      }
    </mat-select>
    @if (form.get('animalId')?.hasError('required')) {
    <mat-error> Animal is required! </mat-error>
    }
  </mat-form-field>

  <!-- Created At -->
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Created Date</mat-label>
    <input matInput [matDatepicker]="createdAtPicker" formControlName="createdAt" />
    <mat-hint align="end">MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="createdAtPicker"></mat-datepicker-toggle>
    <mat-datepicker #createdAtPicker></mat-datepicker>
    @if (form.get('createdAt')?.hasError('required')) {
    <mat-error> Created Date is required! </mat-error>
    }
  </mat-form-field>

  <!-- Status -->
  <div>
    <mat-label>Status</mat-label>
    <br />
    <mat-radio-group formControlName="status">
      <mat-radio-button value="submitted">Submitted</mat-radio-button>
      <mat-radio-button value="screening">Screening</mat-radio-button>
      <mat-radio-button value="reserved">Reserved</mat-radio-button>
      <mat-radio-button value="approved">Approved</mat-radio-button>
      <mat-radio-button value="rejected">Rejected</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
